server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: containers
    static_configs:
      - targets:
          - localhost
        labels:
          job: containerlogs
          __path__: /var/lib/containers/storage/overlay-containers/*/userdata/ctr.log
    relabel_configs:
      - source_labels: ['__path__']
        regex: '.*/overlay-containers/([a-f0-9]+)/userdata/ctr\.log'
        target_label: 'container_id'
    pipeline_stages:
      - regex:
          expression: '^(?P<time>\S+)\s+(?P<stream>stdout|stderr)\s+[FP]\s+(?P<log>.*)$'
      - output:
          source: log
      - regex:
          expression: '(?i)(?P<log_level>(DEBUG|INFO|WARN|WARNING|ERROR|FATAL|CRITICAL|TRACE|PANIC))'
      - labels:
          log_level:
          stream:
